@import "tailwindcss";
/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

@font-face {
    font-family: 'Inconsolata';
    src: url('/fonts/Inconsolata-VariableFont.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Open Runde Bold';
    src: url('/fonts/OpenRunde-Bold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/WorkSans-VariableFont_wght.ttf') format('woff2');
    font-style: normal;
    font-display: swap;
}


:root {
    --color-blanc-primaire: rgb(254, 253, 251);
    --color-blanc-secondaire: rgba(245, 244, 237, 1);
    --color-blanc-tertiaire: #CECECE;
    --color-blanc-quaternaire: #E8E8E8;
    --color-noir-primaire: rgba(21, 21, 40, 1);
    --color-noir-secondaire: #121413;
    --color-noir-tertiaire: #444448;
    --color-noir-quaternaire: #2c2a2a;
    --color-gris-primaire: #616161;
    --color-gris-secondaire: #E8E8E8;
    --color-gris-tertiaire: #B8B8B8;
    --color-bleu-primaire: #2479d9;
    --color-bleu-secondaire: #3276FF;
    --color-vert-primaire: #098d37;
    --color-rouge-primaire: #ca2121;
    --color-orange-primaire: #df8a22;
}

body {

    background-color: var(--color-blanc-primaire);

    user-select: none;
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    -moz-user-select: none;
    /* Firefox */
    -webkit-user-select: none;
    /* Safari */

    -webkit-app-region: no-drag;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    /* iOS Safari */
}


.texte-bouton {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 21px;
}

.pillule-bouton-principal {
    background-color: var(--color-noir-primaire);
    color: var(--color-blanc-primaire);
    transition: all 0.1s ease-in-out;
}

.pillule-bouton-principal:hover {
    background-color: var(--color-noir-tertiaire);

    transition: all 0.1s ease-in-out;
}

.pillule-bouton-secondaire {
    background-color: var(--color-blanc-primaire);
    color: var(--color-noir-primaire);
    border: 4px solid var(--color-noir-primaire);
    transition: all 0.1s ease-in-out;
}

.pillule-bouton-secondaire:hover {
    color: var(--color-gris-primaire);
    transform: scale(96%);
    border: 4px solid var(--color-gris-primaire);
    transition: all 0.1s ease-in-out;
}


.boutons-menu {
    transition: all 0.1s ease-in-out;
}

.boutons-menu:hover {
    transform: scale(95%);
    transition: all 0.1s ease-in-out;
}

.boutons-menu:active {
    opacity: 0.7;
    filter: grayscale(0.5);
    transition: all 0.1s ease-in-out;
}




.icone-bouton-sauvercharger {
    width: 1.2em;
    height: 1.2em;
    color: var(--color-gris-primaire);
    transition: all 0.1s ease-in-out;
}

.icone-bouton-sauvercharger:hover {

    color: var(--color-noir-tertiaire);
    transition: all 0.1s ease-in-out;
}

.icone-bouton-sauvercharger:active {

    color: var(--color-noir-primaire);
    transition: all 0.1s ease-in-out;
    transform: scale(93%);
}

.bouton-action {
    color: var(--color-gris-primaire);
}

.bouton-action:hover {
    color: var(--color-noir-primaire);
    transition: all 0.1s ease-in-out;
}

.bouton-action:active {
    transform: scale(93%);
    transition: all 0.1s ease-in-out;
}

.prenom {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 53px;
    color: var(--color-noir-primaire);
    line-height: 44px;
}

.nom {
    font-family: 'Work Sans', sans-serif;
    font-weight: 590;
    font-size: 20px;
    color: var(--color-noir-primaire);
    line-height: 18px;
}

.cercle {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, hsl(295, 100%, 48%), #dd00f3);
    background-size: 360% 360%;
    box-shadow: inset 0px 0px 14px 22px rgba(0, 0, 0, 0.63);
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

.cercle-gris {
    fill: linear-gradient(90deg, var(--color-noir-primaire), var(--color-noir-secondaire));
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.47);

}

.solde {
    font-family: 'Open Runde Bold', sans-serif;
    font-weight: 800;
    color: var(--color-blanc-primaire);
}

.solde-unit {
    font-size: 59px;
}

.solde-deci {
    font-size: 22px;
}

.sous-titre {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--color-blanc-tertiaire);
    letter-spacing: 0.8em;
}

.bouton-settings {
    margin-top: 1rem;
}





.settings-modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.settings-modal-content {
    background-color: var(--color-blanc-primaire);
    border-radius: 1.5rem;
    /* équivalent à rounded-3xl */
    padding: 2rem;
    /* équivalent à p-8 */
    max-width: 37rem;
    /* équivalent à max-w-md */
    width: 100%;
    /* équivalent à w-full */
}

.settings-titre {
    font-family: 'Work Sans', sans-serif;
    font-weight: 850;
    font-size: 40px;
    color: var(--color-noir-primaire);

}

.pillule-bouton-settings {
    background-color: var(--color-noir-primaire);
    color: var(--color-blanc-primaire);
    transition: all 0.1s ease-in-out;
    border-radius: 0.6rem;
    /* équivalent à rounded-3xl */

}


.texte-bouton-settings {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    padding: 0.4rem 1rem;
    /* équivalent à px-4 py-2 */
}

.texte-bouton-sauvercharger {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: var(--color-noir-primaire);
    /* équivalent à px-4 py-2 */
}

.server-url-container {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    font-size: 14px;

}

.server-url-container.red {
    color: rgba(255, 64, 64, 1);
}

.server-url-container.gray {
    color: rgba(128, 128, 128, 1);
}

.icon {
    display: inline-block;
}

.input-field {
    width: 100%;
    /* w-full */
    padding: 0.7rem;
    /* p-2 */
    background-color: #e8e8e8;
    border-radius: 1rem;
    /* rounded-md */
    font-weight: 600;
    font-size: 15px;
}

.input-field:disabled {
    cursor: not-allowed;
    opacity: 0.4;

}

.nom-parametre {
    font-family: 'Open Runde Bold', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: var(--color-noir-primaire);
}


.keypair-status {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.keypair-status-orange {
    color: var(--color-orange-primaire);
}


.keypair-status-blue {
    color: var(--color-bleu-primaire);
}

.generation-status {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;

    color: var(--color-noir-primaire);
    font-size: 14px;

    border-radius: 0.5rem;

}


.texte-bouton-keypair {
    font-family: 'Work Sans', sans-serif;
    font-weight: 550;
    font-size: 12px;
    padding: 0.2rem 0.7rem;
    color: var(--color-blanc-primaire);
    /* équivalent à px-4 py-2 */
}

.bouton-keypair {
    transition: all 0.1s ease-in-out;
    border-radius: 1.2rem;
    border-color: var(--color-noir-primaire);
    background-color: var(--color-noir-secondaire);
    transition: all 0.1s ease-in-out;
}

.bouton-keypair:hover:enabled {
    background-color: var(--color-noir-tertiaire);
    color: var(--color-blanc-primaire);
    transition: all 0.1s ease-in-out;
}

.bouton-keypair:active:enabled {
    transition: all 0.1s ease-in-out;
    background-color: var(--color-blanc-tertiaire);
}

.bouton-keypair:disabled {
    color: var(--color-gris-secondaire);
    filter: grayscale(0.8);
    opacity: 0.5;
    cursor: not-allowed;
}

.settings-item {
    /* padding only top and bottom */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 0px solid var(--color-blanc-tertiaire);
}

.pillule-bouton-sauvercharger {

    color: var(--color-blanc-primaire);
    transition: all 0.1s ease-in-out;
    border-radius: 0.6rem;
}


.pillule-bouton-gitlab {
    background-color: var(--color-noir-primaire);
    color: var(--color-blanc-primaire);

    box-sizing: border-box;
    /* Prevents border from changing size */

    border-radius: 0.6rem;
    /* équivalent à rounded-3xl */
}

.pillule-bouton-gitlab-checked {
    background-color: var(--color-noir-quaternaire);
    transition: all 0.1s ease-in-out;
    border-radius: 0.6rem;
    padding: 0.7rem 0.1rem;


}

.pillule-bouton-gitlab-checked:hover {
    filter: opacity(0.8);
    transition: all 0.1s ease-in-out;


}

.pillule-bouton-gitlab-checked:active {
    filter: opacity(0.5);
    transform: scale(90%);
    transition: all 0.1s ease-in-out;


}


.texte-bouton-gitlab-noir {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 0rem 0.3rem;
    white-space: nowrap;
    padding-right: 1rem;

}

.texte-bouton-gitlab {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 0rem 0.3rem;
    color: var(--color-blanc-primaire);
}


/* Icone gitlab, contenu dans un bouton, doit s'adapter à la taille du bouton */
.icone-gitlab {
    width: 1.2em;
    height: 1.2em;
    color: var(--color-vert-primaire);
}

.icone-gitlab-deco {
    width: 1.2em;
    height: 1.2em;
    color: var(--color-rouge-primaire);
    padding-left: 0.2rem;
}

.blue-icon {
    width: 1.1em;
    height: 1.1em;
    color: var(--color-bleu-primaire);
}

.orange-icon {
    width: 1em;
    height: 1em;
    color: var(--color-orange-primaire);
}

.red-icon {
    width: 1.1em;
    height: 1.1em;
    color: var(--color-rouge-primaire);
}

.centered-error {
    align-self: center;
    margin-top: 0.2rem;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 650;
    color: var(--color-rouge-primaire);
    font-size: 14px;
}

.ou {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: var(--color-noir-primaire);
    font-size: 15px;

}

.surligne {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 500;
    color: var(--color-noir-primaire);
    font-size: 16px;
    margin-top: 0.5rem;
    background-color: var(--color-gris-secondaire);
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.bouton-noir-settings {
    transition: all 0.1s ease-in-out;
}

.bouton-noir-settings:hover:enabled {
    transform: scale(95%);
    transition: all 0.1s ease-in-out;
}

.bouton-noir-settings:active:enabled {
    opacity: 0.7;
    transform: scale(90%);
    transition: all 0.1s ease-in-out;
}

.bouton-noir-settings:disabled {

    filter: grayscale(0.8);
    opacity: 0.5;

}

.sent-keys {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--color-vert-primaire);

}

.barre-separation {
    height: 3px;
    width: 50%;
    border-radius: 9999px;

    margin-bottom: 1rem;
}