stages:
  - build
  - release

variables:
  APP_NAME: "Nexium"
  VERSION: "$CI_COMMIT_TAG"
  DEB_FILE: "${APP_NAME}_${VERSION}_amd64.deb"
  RPM_FILE: "${APP_NAME}-${VERSION}-1.x86_64.rpm"
  APPIMAGE_FILE: "${APP_NAME}_${VERSION}_amd64.AppImage"
  EXE_FILE: "${APP_NAME}_${VERSION}_x64-setup.exe"


build-tauri-linux:
  rules:
    - if: $CI_COMMIT_TAG
  image: ivangabriele/tauri:debian-bookworm-20
  stage: build
  before_script:
    - apt-get update && apt-get install -y libwebkit2gtk-4.0-dev libgtk-3-dev libayatana-appindicator3-dev build-essential curl wget file libxdo-dev libssl-dev librsvg2-dev
    - curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
    - apt-get install -y nodejs
    - rustup default stable
    - rustup target add x86_64-unknown-linux-gnu
    - cd client
    - npm install
  script:

    - npm run tauri build
  artifacts:
    paths:
      - "/builds/jean.herail/nexium/target/release/bundle/deb/${DEB_FILE}"
      - "/builds/jean.herail/nexium/target/release/bundle/rpm/${RPM_FILE}"
      - "/builds/jean.herail/nexium/target/release/bundle/appimage/${APPIMAGE_FILE}"
    expire_in: 1 week



build-tauri-windows:
  rules:
    - if: $CI_COMMIT_TAG
  image: ivangabriele/tauri:debian-bookworm-20
  stage: build
  before_script:
    - apt-get update && apt-get install -y curl wget file build-essential zip nsis lld llvm clang
    - curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
    - apt-get install -y nodejs
    - rustup default stable
    - rustup target add x86_64-pc-windows-msvc
    - cargo install --locked cargo-xwin
    - cd client
    - npm install
  script:
    - npm run tauri build --  --runner cargo-xwin --target x86_64-pc-windows-msvc
  artifacts:
    paths:
      - "/builds/jean.herail/nexium/target/x86_64-pc-windows-msvc/release/bundle/nsis/${EXE_FILE}"
    expire_in: 1 week


release:
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  stage: release
  needs:
    - job: build-tauri-linux
      artifacts: true
    - job: build-tauri-windows
      artifacts: true
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - echo "Creating release $CI_COMMIT_TAG"
  release:
    tag_name: '$CI_COMMIT_TAG'
    name: 'Release $CI_COMMIT_TAG'
    description: 'Release générée automatiquement pour $CI_COMMIT_TAG'
    assets:
      links:
        - name: "Nexium Linux (.deb)"
          url: "/builds/jean.herail/nexium/target/release/bundle/deb/${DEB_FILE}"
        - name: "Nexium Linux (.rpm)"
          url: "/builds/jean.herail/nexium/target/release/bundle/rpm/${RPM_FILE}"
        - name: "Nexium Linux (.AppImage)"
          url: "/builds/jean.herail/nexium/target/release/bundle/appimage/${APPIMAGE_FILE}"
        - name: "Nexium Windows Installer (.exe)"
          url: "/builds/jean.herail/nexium/target/x86_64-pc-windows-msvc/release/bundle/nsis/${EXE_FILE}"