stages:
  - build

build-tauri-deb:
  image: ivangabriele/tauri:debian-bookworm-20
  stage: build
  before_script:
    - apt-get update && apt-get install -y libwebkit2gtk-4.0-dev libgtk-3-dev libayatana-appindicator3-dev build-essential curl wget file libxdo-dev libssl-dev librsvg2-dev
    - curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
    - apt-get install -y nodejs
    - rustup default stable
    - rustup target add x86_64-unknown-linux-gnu
    - cd client
    - npm install
  script:

    - npm run tauri build
  artifacts:
    paths:
      - client/src-tauri/target/release/bundle/deb/*.deb
    expire_in: 1 week