stages:
  - build
  - release

variables:
  APP_NAME: "Nexium"
  VERSION: "$CI_COMMIT_TAG"
  DEB_FILE: "${APP_NAME}_${VERSION}_amd64.deb"
  RPM_FILE: "${APP_NAME}-${VERSION}-1.x86_64.rpm"
  APPIMAGE_FILE: "${APP_NAME}_${VERSION}_amd64.AppImage"
  EXE_FILE: "${APP_NAME}_${VERSION}_x64-setup.exe"


build-tauri-linux:
  rules:
    - if: $CI_COMMIT_TAG
  image: ivangabriele/tauri:debian-bookworm-20
  stage: build
  before_script:
    - apt-get update && apt-get install -y libwebkit2gtk-4.0-dev libgtk-3-dev libayatana-appindicator3-dev build-essential curl wget file libxdo-dev libssl-dev librsvg2-dev
    - curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
    - apt-get install -y nodejs
    - rustup default stable
    - rustup target add x86_64-unknown-linux-gnu
    - cd client
    - npm install
  script:

    - npm run tauri build
  artifacts:
    paths:
      - "/builds/jean.herail/nexium/target/release/bundle/deb/${DEB_FILE}"
      - "/builds/jean.herail/nexium/target/release/bundle/rpm/${RPM_FILE}"
      - "/builds/jean.herail/nexium/target/release/bundle/appimage/${APPIMAGE_FILE}"
    expire_in: 1 week
    reports:
      dotenv: job_info_linux.env 
  after_script:
    - echo "CI_JOB_ID_LINUX=$CI_JOB_ID" > job_info_linux.env


build-tauri-windows:
  rules:
    - if: $CI_COMMIT_TAG
  image: ivangabriele/tauri:debian-bookworm-20
  stage: build
  before_script:
    - apt-get update && apt-get install -y curl wget file build-essential zip nsis lld llvm clang
    - curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
    - apt-get install -y nodejs
    - rustup default stable
    - rustup target add x86_64-pc-windows-msvc
    - cargo install --locked cargo-xwin
    - cd client
    - npm install
  script:
    - npm run tauri build --  --runner cargo-xwin --target x86_64-pc-windows-msvc
  artifacts:
    paths:
      - "/builds/jean.herail/nexium/target/x86_64-pc-windows-msvc/release/bundle/nsis/${EXE_FILE}"
    expire_in: 1 week
    reports:
      dotenv: job_info_windows.env 
  after_script:
    - echo "CI_JOB_ID_WINDOWS=$CI_JOB_ID" > job_info_windows.env


publish:
  stage: release
  image: curlimages/curl:latest
  needs:
    - job: build-tauri-linux
      artifacts: true
    - job: build-tauri-windows
      artifacts: true
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - |
      PACKAGE_NAME="nexium"
      PACKAGE_VERSION="$CI_COMMIT_TAG"
      PROJECT_ID="$CI_PROJECT_ID"
      API_URL="$CI_API_V4_URL/projects/$PROJECT_ID/packages/generic/$PACKAGE_NAME/$PACKAGE_VERSION"

      # Téléverser les fichiers Linux
      curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file "target/release/bundle/deb/${DEB_FILE}" "$API_URL/${DEB_FILE}"
      curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file "target/release/bundle/rpm/${RPM_FILE}" "$API_URL/${RPM_FILE}"
      curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file "target/release/bundle/appimage/${APPIMAGE_FILE}" "$API_URL/${APPIMAGE_FILE}"

      # Téléverser le fichier Windows
      curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file "target/x86_64-pc-windows-msvc/release/bundle/nsis/${EXE_FILE}" "$API_URL/${EXE_FILE}"

release:
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  stage: release
  needs:
    - job: build-tauri-linux
      artifacts: true
    - job: build-tauri-windows
      artifacts: true
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - echo "Creating release $CI_COMMIT_TAG"


  release:
    tag_name: '$CI_COMMIT_TAG'
    name: 'Release $CI_COMMIT_TAG'
    description: 'Release générée automatiquement pour $CI_COMMIT_TAG'
    assets:
      links:
        - name: "Nexium Linux (.deb)"
          url: "$CI_PROJECT_URL/-/jobs/${CI_JOB_ID_LINUX}/artifacts/file/target/release/bundle/deb/${DEB_FILE}"
        - name: "Nexium Linux (.rpm)"
          url: "$CI_PROJECT_URL/-/jobs/${CI_JOB_ID_LINUX}/artifacts/file/target/release/bundle/rpm/${RPM_FILE}"
        - name: "Nexium Linux (.AppImage)"
          url: "$CI_PROJECT_URL/-/jobs/${CI_JOB_ID_LINUX}/artifacts/file/target/release/bundle/appimage/${APPIMAGE_FILE}"
        - name: "Nexium Windows Installer (.exe)"
          url: "$CI_PROJECT_URL/-/jobs/${CI_JOB_ID_WINDOWS}/artifacts/file/target/x86_64-pc-windows-msvc/release/bundle/nsis/${EXE_FILE}"