stages:
  - build

build-tauri-linux:
  image: ivangabriele/tauri:debian-bookworm-20
  stage: build
  before_script:
    - apt-get update && apt-get install -y libwebkit2gtk-4.0-dev libgtk-3-dev libayatana-appindicator3-dev build-essential curl wget file libxdo-dev libssl-dev librsvg2-dev
    - curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
    - apt-get install -y nodejs
    - rustup default stable
    - rustup target add x86_64-unknown-linux-gnu
    - cd client
    - npm install
  script:

    - npm run tauri build
  artifacts:
    paths:
      - /builds/jean.herail/nexium/target/release/bundle/deb/Nexium_0.1.0_amd64.deb
      - /builds/jean.herail/nexium/target/release/bundle/rpm/Nexium-0.1.0-1.x86_64.rpm
      - /builds/jean.herail/nexium/target/release/bundle/appimage/Nexium_0.1.0_amd64.AppImage
    expire_in: 1 week



build-tauri-windows:
  image: ivangabriele/tauri:debian-bookworm-20
  stage: build
  before_script:
    - apt-get update && apt-get install -y curl wget file build-essential zip nsis lld llvm
    - curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
    - apt-get install -y nodejs
    - rustup default stable
    - rustup target add x86_64-pc-windows-msvc
    - cargo install --locked cargo-xwin
    - cd client
    - npm install
  script:
    - cargo tauri build --runner cargo-xwin --target x86_64-pc-windows-msvc
  artifacts:
    paths:
      - /builds/jean.herail/nexium/target/x86_64-pc-windows-msvc/release/bundle/nsis/
    expire_in: 1 week