pages:
  image: node:18
  before_script:
    - echo "$DOCKER_HUB_PASSWORD" | docker login --username $DOCKER_HUB_USER --password-stdin
    - npm ci
  script:
    - npm run build
  artifacts:
    paths:
      - public
  only:
    - main
