.history-modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    transition: backdrop-filter 0.3s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.history-modal.leave-active {
    backdrop-filter: blur(5px);
}

.history-modal-content {
    max-height: 80vh;
    /* Limite visuelle */
    overflow-y: auto;
    /* Active le scroll */

    padding: 1.2rem;
    width: 48rem;
    max-height: 20rem;
    /* plus large que les 26rem actuels */
    border-radius: 1.3rem;
    background-color: var(--color-blanc-primaire);
}


.history-titre {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: var(--color-noir-primaire);
    line-height: 30px;
    padding-bottom: 1.4rem;
    letter-spacing: -0.03em;
}

.pillule-bouton-history {

    color: var(--color-blanc-primaire);
    transition: all 0.1s ease-in-out;
    border-radius: 0.6rem;
}

.pillule-bouton-history-noir {
    background-color: var(--color-noir-primaire);
}


.pillule-bouton-history-blanc {
    background-color: var(--color-blanc-quaternaire);
}

.history-label {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.05em;
    color: var(--color-noir-primaire);
}

.texte-bouton-history {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 0.4rem 1rem;
    /* équivalent à px-4 py-2 */
}

.texte-bouton-history-noir {
    color: var(--color-blanc-primaire);
}

.texte-bouton-history-blanc {
    color: var(--color-noir-primaire);
}

.input-field-history {
    width: 100%;

    padding: 0.6rem;
    background-color: #e8e8e8;

    border-radius: 0.8rem;
    font-weight: 700;
    font-size: 13px;
    transform: scale(100%);
    transition: all 0.1s ease-in-out;
}




.history-texte {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 13px;
    padding-bottom: 5%;
    letter-spacing: -0.03em;
    color: var(--color-gris-primaire);
}


.icon-in {
    color: var(--color-vert-primaire);
    display: inline-flex;
    align-items: center;
}

.icon-out {
    color: var(--color-rouge-primaire);
    display: inline-flex;
    align-items: center;
}

.description-scroll-cell {
    max-height: 6rem;
    min-height: 6rem;
    max-width: 15rem;
    padding: 0;
}

.description-scroll-content {
    overflow-y: auto;
    max-height: 100%;
    padding: 0.5rem;
    white-space: normal;
    max-width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.history-modal table td,
.history-modal table th {
    text-align: center;
    vertical-align: middle;
    border-right: 2px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
    /* ligne horizontale légère */
}

.history-modal table td:last-child,
.history-modal table th:last-child {
    border-right: none;
}

.history-modal table tr:last-child td {
    border-bottom: none;
}

.contenu-tableau {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.login {
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    font-size: 15px;
}