.transaction-modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    transition: backdrop-filter 0.3s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);

}

.transaction-modal.leave-active {
    backdrop-filter: blur(5px);
}

.transaction-modal-content {
    background-color: var(--color-blanc-primaire);
    padding: 1.2rem;
    width: 30rem;
    border-radius: 1.3rem;
}



.send-modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    transition: backdrop-filter 0.3s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);

}

.send-modal.leave-active {
    backdrop-filter: blur(5px);
}

.send-modal-content {
    background-color: var(--color-blanc-primaire);
    padding: 1.2rem;
    width: 30rem;
    border-radius: 1.3rem;
}


.suggestions-list {
    margin-top: 0.5rem;
    border: 2px solid var(--color-gris-clair);
    border-radius: 25px;
    background: var(--color-blanc-primaire);

    white-space: nowrap;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    z-index: 1000;

    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);

}

.suggestion-item {
    padding: 0.5rem;
    border: 1px solid var(--color-gris-clair);
    cursor: pointer;
    font-family: 'Work Sans', monospace;
    font-weight: 530;
    font-size: 0.9rem;
    transition: all 0.2s ease;
    flex: 0 0 auto;
}

.suggestion-item:hover {
    background-color: #d2d2d2;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.suggestion-item:active {
    font-size: 0.8rem;
    transition: all 0.2s ease;
}